.menu {
	list-style-type: none;
	background: blue;
	width: 200px;
	border-radius: 20px;
	padding: 30px 0 30px 30px;
}

.sideBarItem {
	position: relative;
	padding: 5px;
	border-radius: 20px 0 0 20px;
}

.sideBar-b:after,
.sideBar-b:before {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	right: 0px;
}

.sideBar-b:after {
	top: -10px;
	background: radial-gradient(circle at top left, transparent 10px, white 11px);
}

.sideBar-b:before {
	bottom: -10px;
	background: radial-gradient(circle at bottom left, transparent 10px, white 11px);
}